@font-face {
    font-family: Roboto;
    src: url("../Roboto-Thin.ttf");
}

.root {
    -fx-font-family: Roboto, "Cambria";
}

.button {
    -fx-text-fill: white;
    -fx-background-radius: 15;
    -fx-background-color: #45904b;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.button:hover {
    -fx-background-color: #426d4e;
}
.button:pressed {
    -fx-background-color: #426d4e;
}

.combo-box,
.combo-box-base,
.check-box {
    -fx-text-fill: white;
    -fx-background-color: #426d4e;
}

.root,
.stack-pane,
.scene,
.text-field {
    -fx-text-fill: white;
    -fx-background-color: #426d4e;

}

.table-view .table-cell {
    -fx-background-color: #426d4e;
    -fx-text-fill: white;
}

.list-view .list-cell {
    -fx-background-color: #426d4e;
    -fx-text-fill: white;
}

.table-view:pressed {
    -fx-text-fill: #4785b8;
}

.grid-pane {
    -fx-background-color: #3a5a40;
}

.tab-pane {
    -fx-background-color: #3a5a40;
    -fx-text-fill: white;
}

#fun {
    -fx-background-color: #0B2819;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.label {
    -fx-text-fill: white;
    -fx-font-family: "Comic Sans";
}

.text {
    -fx-text-fill: white;
    -fx-font-family: "Comic Sans";

}


